<!DOCTYPE html>
<html>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>服务端</title>
</head>

<body>
    <div style="height:50px;border-bottom:1px solid #ccc">
        头部
        <input type="text" value="导出Excel" style="border:1px solid #ccc">
    </div>
    {% block main %} {% endblock %}
    <div style="line-height:50px;border-top:1px solid #ccc">
        尾部
    </div>
</body>

</html>