{% extends "base.html" %} {% block main %}
<script>
$(function(){
     new Vue({
        el: '#left',
        data(){
            return{
                 products: [],
                 changeId:Number,
                 pagram:{
                    name:"",
                    price:""
                 }
                 
            }
           
        },
        methods: {
            getProducts(){//获取
                let that = this;
                // console.log(JSON.stringify(that.pagram))
                $.ajax({
                    type: 'get',
                    dataType: 'json',
                    contentType: 'application/json',
                    // url: '/api/products/allProd'
                    url: '/api/products/allProd?name='+this.pagram.name+'&price='+this.pagram.price

                    // data:JSON.stringify(pagram)
                }).done(function (data) {
                    console.log(data)
                    that.products = data;

                }).fail(function (jqXHR, textStatus) {
                    alert('Error: ' + jqXHR.status);
                });
            },
            //   getProducts(){//获取
            //     let that = this;
            //     $.ajax('/api/products').done(function (data) {
            //         console.log(data)
            //         that.products = data;
            //     }).fail(function (jqXHR, textStatus) {
            //         alert('Error: ' + jqXHR.status);
            //     });
            // },
            addProduct:function(e){//添加
                var submit = document.getElementById("submit");
                var name = document.getElementById("name");
                var price = document.getElementById("price");
                e.preventDefault();
                    var product = {
                        name: name.value,
                        price: price.value
                    }
                var that = this;
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '/api/addproducts',
                    data: JSON.stringify(product)
                }).done(function (r) {
                    console.log(r)
                    that.products.push(r);
                }).fail(function (jqXHR, textStatus) {
                    // alert('Error: ' + jqXHR.status);
                });
            },
            deleteProduct: function (id) {//删除
                var that = this;
                // AJAX提交JSON:
                $.ajax({
                    type: 'delete',
                    dataType: 'json',
                    url: '/api/products/' + id
                }).done(function (r) {
                    console.log(r)
                    // console.log(that.products)
                    var i;
                    for (i=0; i<that.products.length; i++) {
                        if (that.products[i].id === r.id) {
                            that.products.splice(i, 1);
                            return;
                        }
                    }
                    // console.log(that.products)

                }).fail(function (jqXHR, textStatus) {
                    // alert('Error: ' + jqXHR.status);
                });
            },
            editProduct: function (e,id) {//编辑
                e.preventDefault();
                id = this.changeId;
                var change = document.getElementById("change");
                var name = document.getElementById("name");
                var price = document.getElementById("price");
                var product = {
                    name: name.value,
                    price: price.value
                }
                var that = this;

                // alert(JSON.stringify(product))
                // AJAX提交JSON:
                $.ajax({
                    type: 'put',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '/api/products/'+ id,
                    data: JSON.stringify(product)
                }).done(function (r) {
                    console.log(r)
                    var i;
                    for (i=0; i<that.products.length; i++) {
                        if (that.products[i].id === r.id) {
                            that.products[i].name = r.name;
                            that.products[i].price = r.price;
                            return;
                        }
                    }
                }).fail(function (jqXHR, textStatus) {
                    // alert('Error: ' + jqXHR.status);
                });
            },
            changeEdit(id){
                this.changeId = id;
            },
            search(){
                let searchName = document.getElementById("searchName").value;
                let searchPrice = document.getElementById("searchPrice").value;
                this.pagram.name = searchName;
                this.pagram.price = searchPrice;
                // console.log(this.pagram)
                this.getProducts();
            }
            ,
            login(e){
                e.preventDefault();
                let userName = document.getElementById("username").value;
                let password = document.getElementById("password").value;
                var namepw={
                    username:userName,
                    password:password
                }
                 $.ajax({
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '/api/login',
                    data: JSON.stringify(namepw)
                }).done(function (r) {
                   console.log(r)
                   // if(r.length == 0){
                   //      console.log("没有该用户名")
                   // }else{
                   //      console.log("登录成功")
                   // }
                }).fail(function (jqXHR, textStatus) {
                    // alert('Error: ' + jqXHR.status);
                });
            }
            ,
            register(e){
                e.preventDefault();
                let userName = document.getElementById("username").value;
                let password = document.getElementById("password").value;
                var namepw={
                    username:userName,
                    password:password
                }
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '/api/register',
                    data: JSON.stringify(namepw)
                }).done(function (r) {
                   console.log(r)
                  
                }).fail(function (jqXHR, textStatus) {
                    // alert('Error: ' + jqXHR.status);
                });
            }
           
        },
        mounted(){
            this.getProducts();
            
        }
    });
   
});
</script>
<style>
    thead{
        width:500px;height:auto;
        background:#ccc;
        text-align:center;
    }
    td{
        width:100px;
        text-align: center;
        line-height:50px;
        border-bottom:1px solid #f5f5f5;
    }
    input{
        border:1px solid #ccc;
    }
</style>
<div>
    <div id="left" >
    <div>
    <form action="/api/login" method="post">
        <input type="text" placeholder="用户名" id="username" name="username">
        <input type="password" placeholder="密码" id="password" name="password">
        <button>请先登录</button>
    </form>
     <!-- <form> -->
       <!--  <input type="text" placeholder="用户名" id="username">
        <input type="password" placeholder="密码" id="password">
        <span v-on:click="login">请先登录</span>
        <span v-on:click="register">注册</span> -->

    <!-- </form> -->
    </div>
        <table>
            <thead>
                <tr>
                    <td >名字</td>
                    <td>价格</td>
                    <td>编辑</td>
                    <td>删除</td>
                </tr>
            </thead>
            <tbody> 
                <tr v-for="p in products">
                    <td v-html="p.name"></td>
                    <td v-html="p.price"></td>
                    <td v-on:click="changeEdit(p.id)">edit</td>
                    <td v-on:click="deleteProduct(p.id)">delect</td>
                </tr>
            </tbody>
            
        </table>
        <div>
             <form>
                <input type="search" placeholder="搜索名字" id="searchName">
                <input type="search" placeholder="搜索价格" id="searchPrice">
                <span v-on:click="search">搜索</span>

            </form>
            <form id="product-form">

                <input type="text" placeholder="输入名字" id="name">
                <input type="text" placeholder="输入价格" id="price">
                <button id="submit" v-on:click="addProduct">新增</button>
                <button id="change" v-on:click="editProduct">修改</button>
            </form>

            
        </div>
    </div>
</div>
{% endblock %}